@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.nav__bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    border:  0.5px  solid black;
}
.left{
    width: 20%;
}
.right{
    display: flex;
    gap: 4%;
    width: 60%;
}
.add__margin{
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: #1E1E1E;
    font-weight: 600;
    font-size: 15px;
}
.succesful__content{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__btn{
    font-weight: 600;
    font-size: 28px;
    color: white;
    padding: 30px;
    background: linear-gradient(180deg, rgba(235, 3, 255, 0.5) 0%, rgba(0, 56, 255, 0.5) 100%);
    border-radius: 15px;
    border: none;
    margin-top: 20px;
}
.tick__img{
    width: 30%;
}