@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.nav__bar{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    border:  0.5px  solid black;
}
.left{
    width: 20%;
}
.right{
    display: flex;
    gap: 4%;
    width: 60%;
}
.add__margin{
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: #1E1E1E;
    font-weight: 600;
    font-size: 15px;
}
.succesful__content{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.big__btn{
    margin-top: 5%;
    font-weight: 600;

    color: white ;
    font-size: 36px;
    border-radius: 15px;
    padding: 20px 54px;
    background-color: none;
}